*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: cyan;
    text-align: left;
    color: white;
    text-decoration: none;
}

.w50{
    width: 50%;
}

.menu{
    text-align: right;
    padding: 0 10px;
}

.menu{
    text-align: right;
}

section.banner{
    width: 100%;
    min-height: 500px;
    background-color: darkblue;
    text-align: center;
    padding: 90px 0;
    color: white;
}

section.diferencias{
    display: flex;
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

footer{
    text-align: center;
    background-color: darkorchid;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
}

@media screen  and (max-width: 767px){
    header{
        text-align: center;
    }
    .menu{
        text-align: center;
    }
    .w33,.w50{
        width: 100%;
        margin-bottom: 20px;
    }
}